on: [push]

name: CI

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps: windows-2019
      - uses: actions/checkout@v2
        with:
          repository: 'tonlabs/tonos-se'
          ref: 'main'
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --manifest-path tonos-se/ton-node-se/Cargo.toml
